@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Vollkorn|Karla);
@media all{
	.placeholder{
		color: silver !important;
	}
	.table{
		width:	60%;
	}
	table td{
		border: 1px solid;	
	}
	body{
		font-size:			11px;
	}
	article{
		margin-bottom:		20px;	
	}
	.entry-content {
		/*
		font-family: 'Fredoka One', cursive;
		font-family: 'Vollkorn', serif;
		font-family: 'Karla', sans-serif;
		*/
		font-family: 'Karla', sans-serif;	
	}
	#ContentContainer *{
		box-sizing: border-box !important;
	}

	h3{ font-size: 1.1em;}
	#waiting_list a+a{
		padding-left: .5em;
		margin: 2px auto !important;	
	}
	#waiting_list td.actions{
		text-align: center;	
	}
	label{
		font-weight: 		bold;	
	}
	#Search{
		width:				25%;
		height:				1px !important;
		overflow:			hidden !important;
	}
	#ContentContainer{
		padding-bottom:	10px !important;	
	}
	#Nav ul.menu>li.menu-item>div.SubMenu{
		left: 125px;	
	}
	#FooterNav {			display:none;}
	#Copyright {			
		font-size: 		14px;
		float:				right;
	}
	.error404 #MainContent,
	.search-no-results #MainContent,
	.search-results #MainContent,
	#MainContent{
		width: 1220px;
		float:  none !important;
	}
	
	#MainContainer,
	#HeaderContainer,
	#NavContainer,
	#ContentContainer,
	#Content{
		width:	100%;	
	}
	p#validateAddTips,
	p#validateUpdateTips
	p.ui-state-error,
	p.ui-state-highlight{
		padding:  7px;	
	}
	#Header, #Nav, #Content, #Footer, #MessageContainer{
		max-width: 1220px;	
	}
	table.dataTable thead,
	table.dataTable thead .sorting_asc ,
	table.dataTable thead .sorting,
	table.dataTable thead th{
		background-color: #D5E6F0;
	}
	.ui-dialog-content label{
		padding-right: 10px;	
	}
	.ui-dialog-content{
		font-size:  1.1em;	
	}
	.ui-dialog .ui-dialog-title{
		float:	none;	
	}
	table.dataTable tbody th{
		font-weight: bold !important;	
	}
	table.dataTable tbody td{
		font-size:  .9em !important;
		padding: 2px 5px !important;	
	}
	.ui-dialog #logging label{
		margin-bottom: 5px; clear:both;
	}
	.ui-dialog #logging p.validateTips{
		margin-left: 35px;	
	}
	.ui-dialog #logging input[type="text"],
	.ui-dialog #logging input[type="password"]{
		width:	250px;
		padding:	3px;
	}
	.ui-dialog-content:not(#logging) input[type="text"]{
		width:	85px;
		padding: 2px;
	}
	.ui-dialog-content:not(#logging) input[type="text"][name="firstname"]{
		width: 150px;	
	}
	.ui-dialog-content:not(#logging) input[type="text"][name="lastname"]{
		width: 250px;	
	}
	.ui-dialog-content:not(#logging) input[type="text"][name="email"]{
		width: 325px;	
	}
	h1.entry-title{ margin-bottom: .5em !important;}
	article#post-gi-whiteboard #toolbar{
		padding-bottom: 5px;
		border-bottom:	1px silver solid;
		margin-bottom:	5px;	
	}
	article#post-gi-whiteboard input[type="image"]+input[type="image"]{
		margin-left:  20px;
	}
	#undo{
		left: 95px;
		margin-top: -5px;
		width: 80%;
		position:absolute;
		z-index: 1000;
		padding: 0 20px;
		display: none;
	}
	#undo p{
		font-size:	1.1em;
		color: #835111;
		text-align: center;
	}
	#undo p a,
	#undo p a:visited{
		font-weight: bold;
		color: #1A67A4;
	}
	#undo p a:hover{
		color: #41A2EF;
		text-decoration:underline;
	}
	table.dataTable.stripe tbody tr.odd, 
	table.dataTable.display tbody tr.odd{
	background-color: #E8ECEF;
	}
	table.dataTable.display tbody tr.odd > .sorting_3, 
	table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
		background-color: #ECF4FA;
	}
	table.dataTable.display tbody tr.odd > .sorting_2, 
	table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
		background-color: #ECF4FA;
	}
	table.dataTable.display tbody tr.odd > .sorting_1, 
	table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
		background-color: #ECF4FA;
	}
	table.dataTable.display tbody tr:hover > .sorting_3, 
	table.dataTable.display tbody tr.odd:hover > .sorting_3, 
	table.dataTable.display tbody tr.even:hover > .sorting_3, 
	table.dataTable.order-column.hover tbody tr:hover > .sorting_3, 
	table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_3, 
	table.dataTable.order-column.hover tbody tr.even:hover > .sorting_3 {
	background-color: #D3D9E0;
	}
	table.dataTable.display tbody tr:hover > .sorting_2, 
	table.dataTable.display tbody tr.odd:hover > .sorting_2, 
	table.dataTable.display tbody tr.even:hover > .sorting_2, 
	table.dataTable.order-column.hover tbody tr:hover > .sorting_2, 
	table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_2, 
	table.dataTable.order-column.hover tbody tr.even:hover > .sorting_2 {
		background-color: #D3D9E0;
	}
	table.dataTable.display tbody tr:hover > .sorting_1, 
	table.dataTable.display tbody tr.odd:hover > .sorting_1, 
	table.dataTable.display tbody tr.even:hover > .sorting_1, 
	table.dataTable.order-column.hover tbody tr:hover > .sorting_1, 
	table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1, 
	table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
		background-color: #D3D9E0;
	}
	table.dataTable.display tbody tr:hover, 
	table.dataTable.display tbody tr.odd:hover, 
	table.dataTable.display tbody tr.even:hover, 
	table.dataTable.order-column.hover tbody tr:hover, 
	table.dataTable.order-column.hover tbody tr.odd:hover, 
	table.dataTable.order-column.hover tbody tr.even:hover{
	background-color: #D3D9E0;
	}
}
/*iPad in landscape mode*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	body{
		font-size:			14px;
		margin:				0;
		width:			1000px !important;
	}
	#MainContainer,
	#HeaderContainer,
	#NavContainer,
	#ContentContainer,
	#FooterContainer,
	#Content{
		width: 1024px !important;
	}
	#Masthead{
		float:			left;
		margin-left:	15px;
		margin-top:	15px;
		max-width:		45%;
	}
	#Masthead img[alt="Kaiser Permanente"]{
		max-width:		130px;
		margin:			8px 3px !important;
		margin-top:	0px !important;
	}
	#Masthead img[alt="North Valley Service Area"]{
		max-width:		152px;
		margin-top:	5px;
	}
	#Masthead a{
		top: 			4px;
		margin-right:	10px;	
	}
	#Search{
		max-width:		35%;	
	}
	#FooterNav{
		max-width:		25%;	
	}
	#Copyright{
		margin-left:	400px;
		float:			none;
		max-width:		45%;	
	}
	#Footer{
		font-size:		14px;	
	}
	#FooterContainer{
		margin:		25px 0px !important;	
	}
	.error404 #MainContent,
	.search-no-results #MainContent,
	.search-results #MainContent,
	#Footer,
	#MainContent{
		font-size:		15px;
		width: 			875px;
		margin-left:	15px !important;
	}
}
/*iPad in portrait mode*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	html,
	body{
		font-size:			14px;
		padding:			0 !important;
		margin:				0;
		width:			750px !important;
	}
	#MainContainer,
	#HeaderContainer,
	#NavContainer,
	#ContentContainer,
	#FooterContainer,
	#Content{
		float:			left;
		width: 768px !important;
		padding-left:	0;
		margin:			0 !important;
	}
	#Masthead{
		float:			left;
		margin-left:	20px;
		margin-top:	15px;
		max-width:		45%;
	}
	#Masthead img[alt="Kaiser Permanente"]{
		max-width:		120px;
		margin:			8px 3px !important;
		margin-top:	0px !important;
	}
	#Masthead img[alt="North Valley Service Area"]{
		max-width:		145px;
		margin-top:	5px;
	}
	#Masthead a{
		top: 			4px;
		margin-right:	10px;	
	}
	#Search{
		max-width:		10%;	
	}
	#FooterNav{
		width:			25%;	
	}
	#Copyright{
		width:			45%;
		margin-left:	300px;
		float:			none;
	}
	#Footer{
		font-size:		12px;
	}
	#FooterContainer{
		margin:		15px 0px !important;	
	}
	.error404 #MainContent,
	.search-no-results #MainContent,
	.search-results #MainContent,
	#Footer,
	#MainContent{
		font-size:		14px;
		width: 	750px;
		margin-left:		10px;
	}
}
@media screen{
	.button{
		width:	30px;
		height: 30px;	
		padding: 5px;
	}
	.button img{
		width:	30px;
		height: 30px;	
		border: none !important;	
	}
	.button + .button{
		margin-left: 10px;	
	}
	.entry-content td{
		vertical-align: middle;	
	}
	td.actions{
		text-align: center;	
	}
}
@media print{
	#attch-button{
		display: none;
		visibility: hidden;	
	}
}